@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme.scss';

@import 'highlight.js/styles/atom-one-dark.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  color: #000;


  h1 {
    font-weight: bold;
    font-size: 24px;
    color:  #000;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    color: #000;
  }

  p {
    font-weight: normal;
    font-size: 14px;
    color: var(--color-p);
  }

  .card {
    background-color: #fff;
    flex: auto;
    flex-wrap: nowrap;
    width: auto;
  }

  .card-dashboard {
    background-color: var(--card);
    max-width: 500px;
    color: #000;
    border-radius: 6px;
  }
  

  .btn {
    background-color: var(--primary);
    font-weight: normal;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  .btn:hover {
    color: #fff;
  }


}
